fastapi
openai
uvicorn
python-dotenv
pydantic
torch
transformers
requests
aiohttp
langchain
langchain-community
langchain-huggingface
faiss-cpu
sentence-transformers
python-docx
pdf2image
pytesseract
pypdf
python-multipart